*{
    margin: 0;
    padding: 0;
}
#particles-js{
    position: fixed;
    height: 100%;
    z-index: -99;
    overflow: hidden;
}
body{
    width: 100%;
    height: 100%;
    background-color: #000;
    scroll-behavior: smooth;
}
.nav-bar{
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
}
.nav-logo img{
    height: 5rem;
    width: 5rem;
    margin-left: 2rem;
    cursor: pointer;
}
.nav-right ul{
    list-style: none;
    display: flex;
}
.nav-right ul li{
    padding: 1rem 4rem;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 99;
    text-shadow: 0 1px 1px white;
}
.nav-right ul li a{
    text-decoration: none;
    color: white;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
}
.main-content{
    padding: 18rem 0;
    margin-right: 2rem;
    color: white;
}
.main-line{
    font-size: 1.25rem;
    font-weight: 400;
}
.main-line #element1{
    color: aqua;
}
.main-line p{
    width: 80%;
    margin-top: 1rem;
    margin-left: 2rem;
    opacity: 0.8;
}

.main-buttons button{
    padding: 0.25rem 0.5rem;
    margin: 2rem 2rem;
    height: 3rem;
    width: 8rem;
    border: none;
    border-radius: 1rem 1rem;
    background-color: aquamarine;
    color: black;
    font-size: 1rem;
}
.main-buttons button:hover{
    color: black;
    background-color: white;
    border: 0.15rem solid purple;
}
.main-image{
    height: 20rem;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}
.main-image img{
    height: inherit;
    margin-bottom: 2rem;
}
.services-container{
    color: #fff;
}
.services-container p{
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: 4rem;
    padding: 1rem 0.5rem;
}
.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.service-border{
    background: none;
    transition: border 0.3s ease-in-out 0s;
}

.service{
    height: 20rem;
    width: 18rem;
    border-radius: 1.5rem;
    overflow: hidden;
    font-size: 1.5rem;
}
.service-image{
    overflow: hidden;
  
}
.service-image img{
    object-fit: cover;
    overflow: hidden;
    height: 20rem;
    width: 18rem;
    transition: transform 0.4s ease-in 0s;   
}
.service:hover img{
    transform: scale(1.1);
    overflow: hidden;
}
.service:hover .service-image{
    overflow: hidden;
}

.works{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
.work-image{
    overflow: hidden;
}
.work-image img{
    object-fit: contain;
    overflow-y: hidden;
    height: 20rem;
    width: 16rem;
    padding-left: 1rem;
    transition: 0.4s ease-in 0s;      
}
.work-border:hover{
    background: linear-gradient(#143bfff2,#0e1e03,#00bfffef);
    border-radius: 1.5rem;
}

/* working on responsiveness */
@media(max-width:600px){
    .service{
        margin-bottom: 2rem;
        margin-top: 2rem;
    }   
    .info{
        flex-wrap: wrap;
        padding: 0;
        /* margin: 0; */
    }
    .main-content{
        margin-top: 2rem;
        padding: 3rem 0;
    }
    .info img{
        /* padding-bottom: 5rem; */
        margin:2rem 1rem ;
    }
    .nav-right ul li{
        padding: 0.25rem 0.75rem;
        font-size: 1rem;
    }
    .nav-logo img{
        margin-left: 0.25rem;
        margin-right: 0.5rem;
        height: 3rem;
        width: 3rem;
    }
    .main-buttons button{
        text-align: center;
        position: relative;
        left: 1.5rem;
        padding: 0.125rem 0.25rem;
        margin: 0.5rem 0.5rem;
        height: 1.75rem;
        width: 5rem;
        font-size: 0.75rem;
    }
    .main-line .animate-character{
        font-size: 1.75rem;
    }
    .main-line p{
        margin: 0;
        margin-bottom: 1rem;
        display: inline-block;
        text-align: center;
    }
    .main-image{
        height: 12rem;
        width: 15rem;
    }
}